
body{
	background-color: #7291FF;
}

.uno{
	text-align: center;
	color: yellow;
}

.cara1{
	text-align: justify;
	color: white;
}


.cara{
	text-align: justify;
	color: black;
}

.uno{
	text-align: center;
}