
body{
	background-color: #7291FF;
}

.uno{
	text-align: center;
	color: yellow;
}
.text1{
	text-align: justify;
	color: white;
}

.cara{
	text-align: justify;
	color: black;
}
.uno{
	text-align: center;
}
