body{
	font-family: arial, helvetica;
		background: url(fauna.jpg);
		background-size: 1500px 1000px;
		background-repeat: no-repeat;
}
.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 80%;
	max-width: 950px;
	margin: auto;
}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 15px;
	display: block;


	}
	.menu li{
		display: inline-block;
		text-align: center;

	}

.menu li a:hover{
	background: #ef8354;
}
