body{
	background: #7291FF;
}


.h1{
	text-align: center;
	color:yellow ;
}


.contenedor{
	display: flex;


}

.esponjas{
	width: 300px;
	height: 300px;
}
.text2{
	text-align: justify;
	color: white;
}

.text.2{
	text-align: justify;
	color: black;
}

/////////////////////////////////////////////////////////////////////////////////////////
.contenedor2{
	display: flex;	

}

.anemonas{
	width: 350px;
	height: 300px;

}
.text3{
	text-align: justify;
	color: white;
}

.text.3{
	text-align: justify;
	color: black;
}

.contenedor3{
	display: flex;	

}

.medusa{
	width: 350px;
	height: 250px;

}
.text4{
	text-align: justify;
	color: white;
}

.text.4{
	text-align: justify;
	color: black;
}
///////////////////////////////////////////////////////////////
.contenedor4{
	display: flex;	

}

.tortuga{
	width: 350px;
	height: 250px;

}
.text5{
	text-align: justify;
	color: white;
}

.text.5{
	text-align: justify;
	color: black;
}

.contenedor6{
	display: flex;	

}

.ballena{
	width: 350px;
	height: 250px;

}
.text6{
	text-align: justify;
	color: white;
}

.text.6{
	text-align: justify;
	color: black;
}
//////////////////////////////////////////////////////////////////////////////////////////
.contenedor7{
	display: flex;	

}

.caballito{
	width: 350px;
	height: 250px;

}
.text7{
	text-align: justify;
	color: white;
}

.text.7{
	text-align: justify;
	color: black;
}



.contenedor8{
	display: flex;	

}

.mobula{
	width: 350px;
	height: 250px;

}
.text8{
	text-align: justify;
	color: white;
}

.text.8{
	text-align: justify;
	color: black;
}
////////////////////////////////////////////////////////////////////////////
.contenedor9{
	display: flex;	

}

.pulpo{
	width: 350px;
	height: 250px;

}
.text9{
	text-align: justify;
	color: white;
}

.text.9{
	text-align: justify;
	color: black;
}

.contenedor10{
	display: flex;	

}

.erizo{
	width: 350px;
	height: 250px;

}
.text10{
	text-align: justify;
	color: white;

}

.text.10{
	text-align: justify;
	color: black;
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////
.contenedor11{
	display: flex;	

}

.pepino{
	width: 350px;
	height: 250px;

}
.text11{
	text-align: justify;
	color: white;
}

.text12{
	text-align: justify;
	color: white;
}

.contenedor12{
	display: flex;	

}

.estrella{
	width: 350px;
	height: 250px;

}

.text13{
	text-align: justify;
	color: white;
}

.text.13{
	text-align: justify;
	color: black;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////
.contenedor13{
	display: flex;	

}

.globo{
	width: 350px;
	height: 250px;

}

.text14{
	text-align: justify;
	color: white;
}

.text.14{
	text-align: justify;
	color: black;
}

.contenedor14{
	display: flex;	

}

.pargo{
	width: 350px;
	height: 250px;

}


.text15{
	text-align: justify;
	color: white;
}

.text.15{
	text-align: justify;
	color: black;
}
/////////////////////////////////////////////////////////////7

.contenedor15{
	display: flex;	

}

.angulita{
	width: 350px;
	height: 250px;

}



