body{
	background: #7291FF ;
}
.h1{
	text-align: center;
	color: yellow;
}
.text1{
	text-align: justify;
	color: black;
}

.text2{
	text-align: justify;
	color: white;
}

.text.2{
	text-align: justify;
	color: black;
}

.text3{
	text-align: justify;
	color: white;
}

.text.3{
	text-align: justify;
	color: black;
}

.text4{
	text-align: justify;
	color: white;
}

.text.4{
	text-align: justify;
	color: black;
}

.text5{
	text-align: justify;
	color: white;
}

.text.5{
	text-align: justify;
	color: black;
}

.text6{
	text-align: justify;
	color: white;
}

.text.6{
	text-align: justify;
	color: black;
}

.text7{
	text-align: justify;
	color: white;
}

.text.7{
	text-align: justify;
	color: black;
}

.text8{
	text-align: justify;
	color: white;
}

.text.8{
	text-align: justify;
	color: black;
}

.text9{
	text-align: justify;
	color: white;
}

.text.9{
	text-align: justify;
	color: black;
}

.text10{
	text-align: justify;
	color: white;
}

.text.10{
	text-align: justify;
	color: black;
}


.text11{
	text-align: justify;
	color: white;
}

.text.11{
	text-align: justify;
	color: black;
}

.text12{
	text-align: justify;
	color: white;
}


.text.12{
	text-align: justify;
	color: black;
}